body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    display: flex;
}

.column {
    height: 50px;
    width: 50px;
    border: 1px solid gray;
}