body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#autocomplete {
    border: 1px solid gray;
    border-radius: 8px;
    width: 400px;
    height: 32px;
    font-size: 24px;
    padding: 12px;
    margin-bottom: 1px;
}

#autocomplete:focus {
    border: 1px solid blue;
    outline: none;
}

.option {
    border-radius: 8px;
    width: 400px;
    font-size: 16px;
    padding: 12px; 
    border: 0.5px solid gainsboro;
    cursor: pointer;
}

.option:hover {
    border: 0.5px solid gray;
}

#menu {
    display: none;
}

#menu.active {
    display: block;
}