body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 36px;
}

a {
  padding: 8px;
  text-decoration: none;
  margin: 4px;
  display: inline-block;
  color: black;
}

a:hover {
  transform: scale(1.1);
}

header > .isActive {
  background-color: bisque;
  border-radius: 8px;
}

/* header > .isPending {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
} */