body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  padding: 32px;
}

.product_card {
  border: 1px solid gainsboro;
  padding: 8px;
  border-radius: 8px;
}

.pagination {
  text-align: center;
}

.pagination_btn {
  border: none;
  background-color: bisque;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0 4px;
  cursor: pointer;
  transition: transform 0.5 ease-in-out;
}

.pagination_btn.active {
  background-color: rgb(255, 181, 84);
  transform: scale(1.2);
}

.static {
  background-color: rgb(128, 185, 236);
}