body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

h1 {
  margin: 15px;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 4px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: antiquewhite;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 4px;
  margin-top: 4px;
}

li > span {
    flex-grow: 1;
}

button {
  border: none;
  padding: 4px;
  background-color: gray;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: cadetblue;
  transform: scale(1.1);
}

button[type="submit"] {
  padding: 10px;
  border: none;
  font-size: 14px;
  background-color: yellowgreen;
  color: azure;
  border-radius: 4px; 
}

button[type="submit"]:hover {
  background-color: green;
}


#todo_list {
    min-width: 400px;
}