body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

.product_card {
  display: flex;
  border: 1px solid gainsboro;
  padding: 8px;
  border-radius: 8px;
  margin: 16px;
  max-height: 200px;
}

.msg_container {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}