body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    padding: 10px;
    border: none;
    background-color: antiquewhite;
    border-radius: 4px;
    margin: 0px 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(249, 182, 100);
}

button.active {
    background-color: rgb(249, 182, 100);
}

.tabContent{
    display: none;
}

.tabContent.active {
    display: block;
}