body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.pagination {
    margin-top: 40px;
    text-align: center;
}

button {
    border: none;
    color: white;
    background-color: purple;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
}

.otherBtn {
    background-color: blue;
}

.btn.active {
   background-color: antiquewhite;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 2px 12px gray;
    border-radius: 8px;
    margin: 12px;
    cursor: pointer;
}