body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

.img-component {
  background-color: antiquewhite;
  border: 1px solid gray;
  border-radius: 8px;
  text-align: center;
  min-width: 320px;
  height: 200px;
}

.img-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.nav-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  font-weight: 700px;
  font-size: medium;
  color: rgb(206, 218, 238);
  background-color: rgb(60, 71, 234);
  box-shadow: 0px 0px 4px gray;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: 0;
}

.prev {
  left: 0;
}